@use "sass:string";
@function dpi($size) {
    @return calc(var(--modifier) * #{$size})
}

@mixin button {
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    float: right;
    display: inline-block;
    border-radius: 4px;
    padding: dpi(0.75);
    padding-left: dpi(1.25);
    padding-right: dpi(1.25);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: bold;
}